node_modules
.vscode-test/
DS_Store
**/.env

node_modules
.DS_Store
.env
app/servers.json
servers.json
.DS_Store
/gke/.terraform
.terraform

**/.terraform/*

.DS_Store
/gke/.terraform
.terraform

**/.terraform/*

data

*.tfstate
*.tfstate.*

crash.log

#
*.tfvars

override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

**/.terraform/*

data

*.tfstate
*.tfstate.*

crash.log

#
*.tfvars

override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

**/dev/dvc-command
**/dev/live-command
/dev

.npmrc

**/gha-creds-*.json

/package-lock.json

**/.env.backup
**/.env.*
**/.env.preview
**/.env.prod

**/node_modules

.lock.hcl

**/__pycache__
__pycache__

**/data/*.json
**/data/*.txt

**/.env.*

# But still track .env.example
!**/.env.template

.deno_cache

potion/api/**/data.json

**/.data

.data
